// Colors can easily be changed using coolors.co export to scss.
$color1: hsla(214%, 30%, 95%, 1);
$color2: hsla(214%, 30%, 95%, 1);
$color3: hsla(213%, 16%, 89%, 1);
$color4: hsla(217%, 11%, 61%, 1);
$color5: hsla(217%, 11%, 61%, 1);
@keyframes pulse {
  10% {fill: $color1;}
  25% {fill: $color2;}
  50% {fill: $color3}
  75% {fill: $color4}
  100% {fill: $color5;}
}

@keyframes pulse-blue {
  //0% {fill: #79ccc8;}
  25% {fill: #94d5d2;}
  50% {fill: #b0dfde;}
  75% {fill: #cae9e8;}
  100% {fill: #e5f4f3;}
}

@keyframes pulse-red {
  //0% {fill: #f37766;}
  25% {fill: #f69286;}
  50% {fill: #fde4e0;}
  75% {fill: #fbc9c2;}
  100% {fill: #f8ada4;}
}

$items: 668;
@for $item from 1 to $items{
  $rand: random(30);
  .hex#{$item}{
    animation: pulse 2s #{$rand * 140}ms infinite ease-in alternate;
  }
}


