
.crop {
    outline: .08em solid black;
    margin-top: 1%;
    padding-top: 10%;
    margin-left: 3%;
    height: 95%;
    overflow: hidden;
}

.crop img {
width: 400px;
height: 300px;
margin: -100px 0 0 0px;
}

.card-body {
text-align: left;
}

.comments {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.blogData {
    display: block;
    font-size: 1.1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  } 